# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CSharp-Stack.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\cuteh\RiderProjects\LeetCodeProblemSolving\CSharp-Stack\.idea\.idea.CSharp-Stack\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
